#map {
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    height: 100%
}

.help {
    font-size: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    margin: 0px;
    text-align: center;
}

.help a.sources {
    float: left;
    margin-left: 50px;
    color: white;
}

.help a.logo {
    float: right;
}

.help a.logo img {
    height: 30px;
}